@use '../../../assets/css/colors' as colors;

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

.clearfix {float: none; clear: both;}

#info  {
    background-color: colors.$primary-color;
    color:colors.$bg-color;
}

#container-messages {
    height: 100%;
    overflow-x: scroll;
    background-image: url("../../../assets/img/mooning.png");
}

.message{
    width: 100%;
    background-color: transparent;
    margin-top: 3%;
 
    .content {
        border-radius: 10px;
        background-color: colors.$bg-message;
        color: colors.$text-message;
        opacity: 1;
        max-width: 50%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 10px;
        padding-bottom: 3px;
        
        p {
            margin: 0;
            padding: 0;
        }
    
        .date {display: block;
            float: right;
            margin: 0;
            padding: 0;
            padding-left: 30px;
            font-weight: lighter;
            font-size: 13px;

        }
    }
}

.own-message{
    float: right;
}

.contact-message{
    float: left;
}

#send-message{
    height: 10%;
    display: flex;
    flex-direction: row;
    background-color:colors.$bg-color;

    input {
        flex-basis: 90%;
        margin: 5px;
        font-size: 15px;
    }

    .icon {
        flex-basis: 10%;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 53px;
        color: colors.$primary-color;
        cursor: pointer;
        transition: all 300ms;
    }

    .icon:hover {
        background-color: colors.$primary-color;
        color: colors.$bg-color;
    }
}