
$dark-color:#1d1c22;;
$light-color:#cfbb8d;

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

#info  {
    background-color: $dark-color;
    color: $light-color;
}


#container-messages {
    //propiedades de flex
    display:flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
    
    height: 100%;
    overflow-x: scroll;
    background-image: url("../../../assets/img/oriental-tiles.png");
    //background-color: rebeccapurple;
    
}

.message{
    //propiedades de flex
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
    background-color: white;
    padding: 12px;
    padding-bottom: 5px;
    max-width: 50%;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;


    .date {
        font-weight: lighter;
        padding-top: 22px;
        font-size: 14px;
    }

}

.own-message{
    align-self: flex-start;
}

.contact-message{
    align-self: flex-end;
}