<div class="container">
    <mat-toolbar id="info">
        {{chat.contactImage}}
        {{chat.contactName}}
    </mat-toolbar>
    <div id="container-messages">
        <div *ngFor="let message of chat.messages" class="message">
            <div class="content" [ngClass]="idUser == message.owner?'own-message':'contact-message'">
                <p>{{message.content}}
                </p>
                <span class="date">{{message.date | date:'shortTime' }}</span> 
            </div> 
            <div class="clearfix"></div>
        </div>
    </div>
   <div class="clearfix"></div>
    <div id="send-message">
        <input type="text" placeholder="mensaje..."/>
        <mat-icon class="icon">send</mat-icon>
    </div>
</div>