.container-all {
    padding-top: 5em;
    padding-bottom: 10em;
}

h1 {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

h4 {
    font-family: 'oswald', 'sans-serif';
}

.container-circles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5em;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 50%;
    }

}

.border-red {
    border: 5px solid #9B2226;

}

.border-blue {
    border: 5px solid #005F73;

}

.border-yell {
    border: 5px solid #ee8a00;

}

@media screen and (max-width:816px) {
    h1 {
        font-size: 35px;
    }

    .circle {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:508px) {
    .container-circles{
        flex-direction: column;
        align-items: center;
    }

    .circle {
        margin-top: 2em;
    }
}
