<div class="container-all">
    <h1>Unéte a nuestra comunidad</h1>
    <div class="container-circles">
        <div routerLink="register" class="circle border-red clickable">
            <img src="/assets/img/register.svg">
            <h4>Registrarse</h4>
        </div>
        <div routerLink="login" class="circle border-blue clickable">
            <img src="/assets/img/login-1.svg">
            <h4>Iniciar Sesión</h4>
        </div>
        <div routerLink="contact" class="circle border-yell clickable">
            <img src="/assets/img/email.svg">
            <h4>Enviar Mensaje</h4>
        </div>
    </div>
</div>