@import "/src/colors.scss";

.container-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $background-color;
}

.mat-list-base .mat-list-option,
.mat-list-base .mat-subheader{
    color: rgb(243, 243, 243);
}