@import "/src/colors.scss";

.container-all {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.image {
    display: flex;
    justify-content: center;
    padding: 0.5em 0 0.5em 0;

    img {
        border-radius: 100%;
        border: 5px solid $primary-color;
    }
}

.content-profile {
    display: flex;

    .options {
        border-right: 1px solid rgba(0, 0, 0, 0.185);
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
    }
}

mat-card {
    width: 80%;

    .container-form {
        width: 100%;
    }

    form {
        width: 100%;
        mat-form-field {
            width: 100%;
            padding-bottom: 5px;
        }

        button[type="submit"] {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
}

@media screen and (max-width:500px) {
    .content-profile {
        flex-direction: column;

        .options {
            border-right: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.185);
            flex-direction: row;
        }

    }
}