<div class="container-all">
    <mat-card>
        <mat-card-title>
            <h1>Mi Cuenta</h1>
        </mat-card-title>
        <mat-card-content>
            <div class="content-profile">
                <div class="options">
                    <button (click)="toggleUpdate(1)" mat-icon-button color="accent"  
                    matTooltip="Actualizar Perfil" matTooltipPosition="right">
                        <mat-icon>drive_file_rename_outline</mat-icon>
                    </button>
                    
                    <button (click)="toggleUpdate(2)" mat-icon-button color="accent"  
                    matTooltip="Actualizar Contraseña" matTooltipPosition="right">
                        <mat-icon>vpn_key</mat-icon>
                    </button>

                </div>
                <div class="container-form">
                    <form [formGroup]="profileForm" (ngSubmit)="submitProfile()" >
                        <h2>Mi Perfil</h2>
                        <div class="image">
                            <img [src]="ProfileImage" alt="profile" />
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput placeholder="Nombre" required formControlName="name" [readonly]="!canUpdateProfile">
                            <mat-error>El nombre es requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Correo eléctronico</mat-label>
                            <input type="email" matInput placeholder="email@email.com" required formControlName="email" [readonly]="!canUpdateProfile">
                            <mat-error *ngIf="profileForm.controls.email.touched && profileForm.controls.email.hasError('required')">El correo eléctronico es requerido</mat-error>
                            <mat-error *ngIf="profileForm.controls.email.touched && profileForm.controls.email.hasError('email')">El correo eléctronico es inválido</mat-error>
                        </mat-form-field>
                        <!-----------------IMAGEN ---------------->

                        <button *ngIf="canUpdateProfile" class="full-width" type="submit" mat-flat-button color="primary">Actualizar Perfil</button>

                    </form>
                    <form  *ngIf="canUpdatePassword" [formGroup]="passwordForm"  (ngSubmit)="submitPassword()">
                        <h2>Actualizar Contraseña</h2>
                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="Contraseña" formControlName="password">
                            <mat-error>La contraseña es requerida</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Nueva Contraseña</mat-label>
                            <input type="password" matInput placeholder="Contraseña" formControlName="newPassword">
                            <mat-error>La nueva contraseña es requerida</mat-error>
                        </mat-form-field>
                        <button class="full-width" type="submit" mat-flat-button color="primary">Actualizar Contraseña</button>
                    </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>