@import "/src/colors.scss";

footer {
    background-color: $background-dark-color;
    background-image: url('/assets/img/backgrounds/square_bg.png');
    color: white;
    text-align: center;
    width: 100%;
    //position: absolute;
    padding: 1em 0 1em 0;
    //bottom: 0;

    a  {
        color: white;
        text-decoration: none;
    }

    
}

