@use '../../../../assets/css/colors' as colors;
@use '../../../../assets/css/fonts' as fonts;
.draw-container {
    height: 100vh;

}
.container-alll{
    height: 100%;
} 
#header {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    right: 16px !important;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}

#btn-menu{
    display: none;
    color: colors.$bg-light-color;
}

.container-menu {
    background-color: colors.$bg-color;
    .mat-list-item,
    .mat-subheader {
    color: colors.$bg-light-color;
    }
}

#logo {
    height: 85px;
    margin-right: 15px;
    margin-left: 10px;
    img {
        width: 55px;
        padding-top: 15px;
        transition: all 300ms;
    }

    a {
        display: block;
        height: 100%;
        text-decoration: none;
    }
}

#logo:hover {
    img {
        transform: scale(1.3,1.3);
    }
}


#menu {
    background-color: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 85px;
    font-family: fonts.$middle-text;
    transition: all 300ms;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: right;

    ul {
        width: 100%;
    }

    li {
        height: 100%;
        line-height: 85px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
        transition: all 300ms;
    }

    li:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    a {
        display: block;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}

#header:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
