@import "/src/colors.scss";

.sidenav-content {
    overflow: hidden;
    min-height: 100vh;
    background-color: $background-color;
    background-image: url('/assets/img/backgrounds/square_bg.png');
    color: white;
}

.container-menu {
    background-color: $background-color;

    mat-list-option,
    .mat-subheader {
        color: white;
    }
}

.logo {
    width: 45px;
    padding: 5px 1em 5px 1em;
}

#header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#btn-menu {
    padding: 1em;
    display: none;
    color: white;
}

#menu {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 300ms;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: right;

    ul {
        width: 100%;
    }

    li {
        height: 100%;
        width: auto;
        display: flex;
    }

    a {
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: white;
        text-decoration: none;
        font-size: 15px;

        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding-left: 3px;
            animation: slideOutRight 2s;
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }

    a:hover {
        color: $primary-color;

        span {
            visibility: visible;
            width: auto;
            height: auto;
            animation: slideInRight 1s;
        }
    }
}
