
<mat-sidenav-container class="draw-container" autosize>
  <mat-sidenav #sidenav mode="over" class="container-menu">
    <mat-selection-list [multiple]="false">
      <div mat-subheader>Fast Messages</div>
      <mat-list-option [routerLink]="['/login']" (click)="closeSideNav()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <div mat-line>Iniciar Sesión</div>
      </mat-list-option>
      <mat-list-option [routerLink]="['/register']" (click)="closeSideNav()" >
        <mat-icon mat-list-icon>  face </mat-icon>
        <div mat-line>Registrarse</div>
      </mat-list-option>
      <mat-list-option [routerLink]="['/contact']" (click)="closeSideNav()">
        <mat-icon mat-list-icon>email</mat-icon>
        <div mat-line>Contacto</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <div class="sidenav-content" >
    <div id="header">
      <img class="logo clickable" src="assets/img/icon.png" alt="FM"  routerLink="" />
      <div id="btn-menu">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <ul id="menu">
        <li>
          <a href="" [routerLink]="['/login']">
            <mat-icon mat-list-icon>face </mat-icon>
            <span>Iniciar Sesión</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/register']">
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <span>Registrarse</span>
          </a>
        </li>
        <li>
          <a href="" [routerLink]="['/contact']">
            <mat-icon mat-list-icon>email</mat-icon>
            <span>Contacto</span>
          </a>
        </li>
      </ul>
    </div>
    <!-----contenido -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>

</mat-sidenav-container>