@media (max-width:502px){
    #header {
        justify-content: space-between;
    }
    #menu {
        display: none;
    }

    #header:hover {
        #btn-menu {
            opacity: 1;
        }
    }

    #btn-menu{
        display: initial;
        opacity: 0;
        
        button {
            width: 75px;
            height: 75px;
            margin-top: 5px;
            margin-left: 5px;
        }

        mat-icon {
            font-size: 35px;
            margin-left: -12px;
        }
    }
}

