@import '/src/colors.scss';
/*
.sidenav-content {
    background-color: $background-color;
    background-image: url('/assets/img/backgrounds/square_bg.png');
    min-height: 100vh;
    height: 100%;
}*/


.draw-container {
    height: 100vh;

}
.container-alll{
    height: 100%;
} 
#header {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}

#btn-menu{
    display: none;
}

#logo {
    height: 85px;
    margin-right: 15px;
    margin-left: 10px;
    img {
        width: 55px;
        padding-top: 15px;
        transition: all 300ms;
    }

    a {
        display: block;
        height: 100%;
        text-decoration: none;
    }
}

#logo:hover {
    img {
        transform: scale(1.3,1.3);
    }
}


#menu {
    background-color: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 85px;
    transition: all 300ms;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: right;

    ul {
        width: 100%;
    }

    li {
        height: 100%;
        line-height: 85px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
        transition: all 300ms;
    }

    li:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    a {
        display: block;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}

#header:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


@media (max-width:502px){
    #header {
        justify-content: space-between;
    }
    #menu {
        display: none;
    }

    #header:hover {
        #btn-menu {
            opacity: 1;
        }
    }

    #btn-menu{
        display: initial;
        
        button {
            width: 75px;
            height: 75px;
            margin-top: 5px;
            margin-left: 5px;
        }

        mat-icon {
            font-size: 35px;
            margin-left: -12px;
        }
    }
}

