<div class="container-contacts">
   <!---<div id="options">
    <button mat-raised-button>Buscar</button>
    <button mat-raised-button>Agregar</button>
   </div>
   --->
   <div id="search">
     <input type="text" placeholder="buscar..." />
     <button mat-icon-button color="accent">
      <mat-icon>search</mat-icon>
       </button>
   </div>
<mat-list>
  <mat-list-item *ngFor="let contact of contacts">
    <div>
      <img class="image" src="{{contact.image}}" alt="imagen"/>
    </div>
    <div mat-line class="name">{{contact.name}}</div>
    <div mat-line>
      <button class="btn-msg" mat-mini-fab matTooltip="Enviar Mensaje" 
      (click)="createChat(contact._id)">
        <mat-icon>sms</mat-icon>
      </button>
      <button class="btn-del" mat-mini-fab matTooltip="Eliminar" 
      (click)="deleteContact(contact._id)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
</div>