

.mat-list-item {
   // color: colors.$text-neutral;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-top: 10px;
    transition: all 300ms;
    
    .image {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .mat-fab:not([class*="mat-elevation-z"]), .mat-mini-fab:not([class*="mat-elevation-z"]){
        box-shadow: none;
        margin-left: 3px;
        margin-right: 3px;
        transform: scale(0.8,0.8);
    }

    .btn-del{
      //  background-color: colors.$warning-color;
    }

    .btn-msg {
      //  background-color: colors.$secondary-color;
    }

    .name {
        font-size: 16px;
    }

}

.mat-list-item:hover {
   // background-color: colors.$primary-color;
  //  color: colors.$bg-color;
}

#options {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    
    div {
        margin-top: 5px;
    }

    button {
        margin-left: 10px;
        flex: 1;
    }

    button:active {
      //  background-color: colors.$primary-color;
    }
}

.btn-toggle-active {
  //  background-color: colors.$primary-color;
}

.btn-toggle {
  //  background-color: colors.$bg-light-color;
}

#search{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    input {
        flex-basis: 80%;
    }

    button {
      //  color: colors.$primary-color;
    }


}

