<div class="container-account">
        <div class="polaroid">
                <img src="{{profile.image}}" alt="img-profile" />
                <p>{{profile.name}}</p>
        </div>
        <div class="info">
                <div class="data-user">
                        <h3>Nombre de Usuario</h3>
                        <input type="text" placeholder="{{profile.name}}" />
                        <mat-icon class="icon" matTooltip="Guardar">done_outline</mat-icon>
                </div>

                <div class="data-user">
                        <h3>Correo Electrónico</h3>
                        <input type="email" placeholder="{{profile.email}}" />
                        <mat-icon class="icon" matTooltip="Guardar">done_outline</mat-icon>
                </div>

                <div class="data-user">
                        <h3>Foto de perfil</h3>
                        <label for="file">
                                <p>Cambiar Imagen</p>
                                <img src="{{selectedImage}}" />
                        </label>
                        <input #imageInput name="file" id="file" 
                        type="file" 
                        accept="image/*"
                        placeholder="imagen de perfil"
                        (change)="processFile($event)"
                        /> 
                        <mat-icon class="icon" matTooltipPosition="after" matTooltip="Guardar" >done_outline</mat-icon>
                </div>
        </div>
</div>