<div class="container-contacts">
<mat-list>
  <mat-list-item *ngFor="let contact of contacts">
    <div>
      <img class="image" src="{{contact.image}}" alt="imagen"/>
    </div>
    <div mat-line class="name">{{contact.name}}</div>
    <div mat-line>
      <button class="btn-msg" mat-mini-fab matTooltip="Enviar Mensaje" >
        <mat-icon>sms</mat-icon>
      </button>
      <button class="btn-del" mat-mini-fab matTooltip="Eliminar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
</div>