<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.toggle()">
    <mat-toolbar style="display: none;" color="primary">
        <button (click)="sidenav.toggle()" mat-icon-button aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
      </mat-toolbar>
    <mat-sidenav  class="sidenav" #sidenav (keydown.escape)="sidenav.toggle()" disableClose mode="side" opened>
        <div class="options">
            <div class="option" *ngFor="let item of options; let i = index;" >
                <button matRipple [routerLink]="item.route"><mat-icon color="primary">{{item.icon}}</mat-icon></button>
            </div>
        </div>
    </mat-sidenav>

    <!------------>
    <router-outlet></router-outlet>
</mat-sidenav-container>