<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.toggle()">
    <mat-toolbar color="primary">
        <button (click)="sidenav.toggle()" mat-icon-button aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
      </mat-toolbar>
    <mat-sidenav  class="sidenav" #sidenav (keydown.escape)="sidenav.toggle()" mode="side" opened="false">
        <div class="options">
            <div class="option" *ngFor="let item of options; let i = index;" [routerLink]="item.route" (click)="selectRoute()">
                <button [matTooltip]="item.title" matTooltipPosition="right" matRipple><mat-icon color="primary">{{item.icon}}</mat-icon></button>
                <span>{{item.title}}</span>
            </div>
            <div class="option"  (click)="logout()">
                <button matTooltip="Salir" matTooltipPosition="right" matRipple><mat-icon color="primary">door_front</mat-icon></button>
                <span>Salir</span>
            </div>
        </div>
    </mat-sidenav>

    <!------------>
    <router-outlet></router-outlet>
</mat-sidenav-container>