@import "/src/colors.scss";

.sidenav-container {
    min-height: 100vh;
    height: 100%;
    background-color: $background-color;
    background-image: url('../../../../../assets/img/backgrounds/square_bg.png');
    color: white;
}

mat-toolbar {
    display: none;
}

.sidenav {
    background-color: $background-color;
    height: 100%;
    width: auto;
}

.sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.options {
    //background-color: rgba(0, 0, 0, 0.397);

    width: auto;
    .option {
        padding: 0.5em;
        display: flex;
        align-items: center;
        
        span {
            display: none;
            color: white;
            font-family: 'Oswald','sans-serif';
            letter-spacing: 1px;
        }

        
        button {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            background-color: transparent;
        }

        mat-icon {
            font-size: 40px;
            width: 40px;
            height: 40px;
        }
    }

    .option:hover {
        cursor: pointer;
        span {
            color: $primary-color;
        }


        button {
            cursor: pointer;

            mat-icon {
                color: white;
            }
        }
    }
}

.content-menu {
    background-color: transparent;
}

.container-all {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.menu {
    background-color: transparent;
}

.top-menu {
    background-color: white;
}


@media screen and (max-width: 550px) {

    mat-toolbar {
        display: flex;
        align-items: center;
    }

    .options .option span {
        display: block;
    }

    .sidenav {
        padding-left: 1em;
        padding-right: 1em;
    }
    
}