@import "/src/colors.scss";

.sidenav-container {
    min-height: 100vh;
    height: 100%;
    background-color: $background-color;
    background-image: url('/assets/img/backgrounds/square_bg.png');
    color: white;
}

.sidenav {
    background-color: $background-color;
    height: 100%;
    width: auto;
}

.sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.options {
    //background-color: rgba(0, 0, 0, 0.397);

    width: auto;
    .option {
        padding: 0.5em;
        
        button {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            background-color: transparent;
        }

        button:hover {
            cursor: pointer;

            mat-icon {
                color: white;
            }
        }

        mat-icon {
            font-size: 40px;
            width: 40px;
            height: 40px;
        }
    }
}

.content-menu {
    background-color: transparent;
}

.container-all {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.menu {
    background-color: transparent;
}

.top-menu {
    background-color: white;
}

@media screen and (max-width:425px) {

    .option {
        display: none;
    }

    mat-toolbar {
        display: block;
    }
}