<div class="container-contact">
    <div class="container-form">
        <h1>Contacta con nosotros</h1>
        <h4>Nos encantará conocer tu opinión</h4>
        <form>
            <div class="component">
                <label for="name">Nombre</label>
            <input type="text" id="name" name="name" placeholder="Nombre"/>
            </div>
    
            <div class="component">
                <label for="email">Correo Electrónico</label>
            <input type="email" id="email" name="email" placeholder="Correo Electrónico"/>
            </div>
            
            <div class="component">
                <label for="msg">Mensaje</label>
            <textarea id="msg" name="msg" placeholder="Mensaje..."></textarea>
            </div>
    
            <div class="component">
                <input type="button" value="Enviar"/>
            </div>
    
        </form>
    </div>
</div>