@use '../../../../assets/css/colors' as colors;
@use '../../../../assets/css/fonts' as fonts;

.container-contact {
    height: 100%;
    padding: 20px;   
}

.component {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    font-family: fonts.$middle-text;
 
    label {
        width: 100%;
        font-size: 15px;
    }

    input {
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"]{
        border-radius: 0;
        border: none;
        height: 30px;
        font-family: fonts.$text;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: colors.$bg-color;
        color: white;
        height: 60px;
        border: none;
        cursor: pointer;
        transition: all 300ms;
    }

    input[type="submit"]:hover,
    input[type="button"]:hover,
    button {
        -webkit-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 9px -5px rgba(0,0,0,0.75);
    }

    input[type="submit"]:active,
    input[type="button"]:active,
    button {
        opacity: 0.6;
    }

    #msg {
        max-height: 105px;
        height: 105px;
        max-width: 100%;
        resize: none;
    }

}