//color de fondo de barra lateral
//color de letra de barra horizontal de chat
$bg-color:#2f2f2f;
//color de letra de barra lateral
//color de fondo de barra horizontal de chat
$primary-color: #c8fa6c ;
//color de fondo de mensajes
$bg-message :white;
//color de letra de mensajes
$text-message:black;