//color de fondo de barra lateral
//color de letra de barra horizontal de chat
$bg-color:#2f2f2f;
//color de letra de barra lateral
//color de fondo de barra horizontal de chat
$primary-color: #c0db53;// #8151ac; //#74880c;// #ff5757; //#63CCCA;
// #F26419; //#F6AE2D; //#EFA48B;//#C6D8AF; //#FCC8B2; //#2eaebd;// #63CCCA; //#c8fa6c ;
//color de fondo de mensajes
$bg-message :white;
//color de letra de mensajes
$text-message:black;

$text-neutral:rgb(221, 252, 206);

$secondary-color:#dd9710;

$warning-color : #ac3b3b;

$bg-light-color:#c4c4c4;


