@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
//fuente para texto normal
$text:Roboto, "Helvetica Neue", sans-serif; 

//fuente para titulos
$title:'Roboto Condensed', sans-serif;

//fuente de fotografía
$polaroid:'Dancing Script', cursive;

//titulo de las configuraciones
$title-config:$title;// 'Carter One', cursive;//'Fredoka One', cursive;

//titulos de listas de contacto y chats
$name:'Ubuntu', sans-serif;
