<div class="container-register">
    <div class="container-form">
        <h1>Crea una cuenta</h1>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <!-------name-------->
            <mat-form-field class="field" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" class="form-control" type="text" formControlName="name" required>
                <!------errores----->
                <mat-error *ngIf="handleError(registerForm,'name','required')">
                    El nombre es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            <!-----------genero------->
            <div class="form-field">
                <mat-label>Género</mat-label>
                <mat-radio-group class="radio-group" formControlName="gender">
                    <mat-radio-button checked class="radio-button" [value]="1">Hombre</mat-radio-button>
                    <mat-radio-button class="radio-button" [value]="0">Mujer</mat-radio-button>
                </mat-radio-group>
            </div>
            <!-----fecha de nacimiento----->
            <mat-form-field appearance="fill">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput formControlName="dateBirth" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker startView="multi-year"></mat-datepicker>
                <mat-error *ngIf="handleError(registerForm,'dateBirth','required')">
                    La fecha de nacimiento es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>
            <!-------correo-------->
            <mat-form-field class="field" appearance="fill">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" class="form-control" placeholder="correo@example.com"
                    formControlName="email" required>
                <!------errores----->
                <mat-error *ngIf="handleError(registerForm,'email','required')">
                    El correo Electrónico es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="handleError(registerForm,'email','email')">
                    El correo Electrónico tiene un formato <strong>incorrecto</strong>
                </mat-error>
            </mat-form-field>

            <!-------contraseña----->
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="constraseña" class="form-control" formControlName="password"
                    type="password" required>
                <!-----errores----->
                <mat-error *ngIf="handleError(registerForm,'password','required')">
                    La contraseña es <strong>requerida</strong>
                </mat-error>
                <mat-error *ngIf="handleError(registerForm,'password','minlength')">
                    La contraseña debe contener <strong>al menos 8 carácteres</strong>
                </mat-error>
            </mat-form-field>

            <!-------check contraseña----->
            <mat-form-field appearance="fill">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput placeholder="confirmar constraseña" class="form-control"
                    formControlName="confirmPassword" type="password" required>
                <!-----errores----->
                <mat-error *ngIf="handleError(registerForm,'confirmPassword','required')">
                    La contraseña es <strong>requerida</strong>
                </mat-error>
                <mat-error *ngIf="handleError(registerForm,'confirmPassword','NoPassswordMatch')">
                    Las contraseñas <strong>no coinciden</strong>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" class="full-width">Registrar</button>
            <div class="options">
                <!-----
                <p>¿Olvidaste tu contraseña?<br/> <a [routerLink]="['/reset-password']">Recuperar Contraseña</a> </p>
            -->
                <p>¿Ya tienes una cuenta?<br/> <a [routerLink]="['/login']">Inicia Sesipon</a> </p>
            </div>
        </form>
    </div>
</div>