<div class="container-register">
    <div class="container-form">
        <h1>Crea una cuenta</h1>
        <form>
            <div class="component">
                <label for="name">Nombre</label>
            <input type="text" id="name" name="name" placeholder="Nombre"/>
            </div>
    
            <div class="component">
                <label for="email">Correo Electrónico</label>
            <input type="email" id="email" name="email" placeholder="Correo Electrónico"/>
            </div>
            
            <div class="component">
                <label for="passwd">Contraseña</label>
            <input type="password" id="passwd" name="passwd" placeholder="Contraseña"/>
            </div>
    
            <div class="component">
                <label for="passwd_check">Confirmar Contraseña</label>
                <input type="password" id="passwd_check" name="passwd_check" placeholder="Contraseña"/>
            </div>
    
            <div class="component">
                <input type="button" value="Registrarse"/>
            </div>
    
        </form>
    </div>
</div>