<div class="container-community">
  <div class="container-info">
    <h3>Buscar Contactos</h3>
    <input id="input-search" type="text" placeholder="buscar..." />
    <div id="buttons-search">
      <button mat-mini-fab matTooltip="Correo electrónico" (click)="searchByEmail()">
        <mat-icon>alternate_email</mat-icon>
      </button>
      <button mat-mini-fab matTooltip="Nombre" (click)="searchByName()">
        <mat-icon>create</mat-icon>
      </button>
    </div> 
    <mat-list>
      <mat-list-item *ngFor="let contact of currentPage">
        <div>
          <img class="image" src="{{contact.image}}" alt="imagen" />
        </div>
        <div mat-line class="name">{{contact.name}}</div>
        <div mat-line>
          <button class="btn-msg" mat-mini-fab matTooltip="Agregar" (click)="addContact(contact._id)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <mat-paginator *ngIf="currentPage.length > 0" 
      [length]="contacts.length" 
      [pageSize]="pageSize" 
      hidePageSize=true
      (page)="pagePaginator($event)">
    </mat-paginator>

  </div>

  <div class="container-info">
    <h3>Chats en Vivo</h3>

  </div>
</div>