@media (max-width:354px){
    #options {
        width: 49px;
    }

    mat-icon {
        padding: 0;
        margin: 0;
    }
}

@media (max-width:333px){
    .container-options{
        position: absolute;
        top: 0;
        right: 0;
    }
}