@import "/src/colors.scss";

mat-sidenav-container {
    min-height: 100vh;
    height: 100%;
    background-color: $background-color;
    background-image: url('/assets/img/backgrounds/square_bg.png');
    color: white;
}

mat-sidenav {
    background-color: red;
    height: 100%;
    width: 25%;
}

mat-sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.options {
    //background-color: rgba(0, 0, 0, 0.397);

    width: auto;
    .option {
        padding: 0.5em;
        
        button {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            background-color: transparent;
        }

        button:hover {
            cursor: pointer;

            mat-icon {
                color: white;
            }
        }

        mat-icon {
            font-size: 40px;
            width: 40px;
            height: 40px;
        }
    }
}
