<div class="container-all">
    <mat-toolbar color="primary">
      <div class="info">
          <img [src]="chat.image" alt="image" />
          <div>{{chat.title}}</div>
      </div>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete_outline</mat-icon>
          <span>Eliminar Conversación</span>
        </button>
        <button mat-menu-item>
          <mat-icon>clear_all</mat-icon>
          <span>Eliminar Mensajes</span>
        </button>
      </mat-menu>

    </mat-toolbar>
</div>