<div class="container-all">
    <div class="info">
        <p>support@fastmessages.com | +502 123456789 </p>
        <p>Ciudad de Guatemala</p>
        <div class="aclarations">
            <p>Esta aplicación fue desarrollada con fines educativos</p>
            <p>Toda la información es generada de forma aleatoria gracias a 
                <a target="_blank" href="https://github.com/Marak/Faker.js#readme">faker js</a></p>
        </div>
        <p class="copyright">{{ Year }} | &copy; <a target="_blank" href="http://devemg.com">devemg</a></p>
    </div>
    <div class="social">
        <p><a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></p>
        <p><a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></p>
        <p><a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a> </p>

        <div class="dev">
            <p><a href="http://github.com/devemg" target="_blank"><i class="fab fa-github"></i> Github</a></p>
            <p><a href="http://gitlab.com/devemg" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a></p>
            <p><a href="http://devemg.com" target="_blank"><i class="fas fa-code"></i> devemg.com</a></p>
        </div>

    </div>
</div>
