@import '/src/colors.scss';

.container-all {
    background-color: $background-dark-color;
    padding: 5em;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: 'Oswald','sans-serif';
    letter-spacing: 1px;

    p {
        padding-top: 5px;
    }
}

.aclarations {
    padding-top: 15px;
    font-size: 12px;
    color: rgba(225, 230, 255, 0.308);
}

.container-all * {
    margin: 0;
}

@media (max-width:588px){
   
    .container-all {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .social {
        padding-bottom: 1em;
    }
}
