@import '/src/colors.scss';

.container-all {
    background-color: $background-dark-color;
    padding: 5em 10em 5em 10em;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: 'Oswald','sans-serif';
    letter-spacing: 1px;

    p {
        padding-top: 5px;
        
    }
}

.copyright {
    color:rgba(255, 255, 255, 0.507);

    a {
        color:rgba(255, 255, 255, 0.712);
    }
}

.aclarations {
    padding-top: 15px;
    font-size: 12px;
    color: rgba(225, 230, 255, 0.308);
}

.container-all * {
    margin: 0;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.social {

    a {
        color: white;
    }
}

a:hover {
    color: #e6cc9d;
}

.dev {
    padding-top: 15px;
}

/* social colors */
.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #c32aa3;
}

.fa-gitlab{
    color: rgb(255, 136, 0);
}

.fa-code{
    color: rgb(102, 151, 197);
}

@media (max-width:588px){
   
    .container-all {
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding: 5em;
    }

    .social {
        padding-bottom: 1em;
    }
}
