<div class="container-all">
    <div class="info">
        <p>support@fastmessages.com | +502 123456789 </p>
        <p>Ciudad de Guatemala</p>
        <div class="aclarations">
            <p>Esta aplicación fue desarrollada con fines educativos</p>
            <p>Toda la información es generada de forma aleatoria gracias a 
                <a target="_blank" href="https://github.com/Marak/Faker.js#readme">faker js</a></p>
        </div>
        <p class="copyright">{{ Year }} | &copy; <a target="_blank" href="http://devemg.com">devemg</a></p>
    </div>
    <div class="social">
        <p>Facebook</p>
        <p>Github</p>
        <p>devemg</p>
    </div>
</div>
