<div id="container">
    <div id="options">
        <ul>
            <li><mat-icon class="icon">account_circle</mat-icon></li>
            <li><mat-icon class="icon">contacts</mat-icon></li>
            <li><mat-icon class="icon">recent_actors</mat-icon></li>
            <li><mat-icon class="icon">chat</mat-icon></li>
            <li><mat-icon class="icon">settings</mat-icon></li>
        </ul>
    </div>
    <div id="chat">
        <app-chat></app-chat>
    </div>
</div>

<!----
<mat-tab label="Chats"> 
                <list-chats></list-chats>
            </mat-tab>
            <mat-tab label="Contactos"> 
                <list-contacts></list-contacts>
            </mat-tab>
        
        -->