#container {
    display: flex;
    flex-flow: row wrap;
    background-color: #cccccc;
    height: 100vh;
}

#info {
    flex-basis: 20%;
    flex-grow: 1;
    background-color: #cccccc;
}

#chat {
    flex-basis: 60%;
    flex-grow: 1;
}

