/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }


.full-width {
    width: 100%;
}

.clickable:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Oswald', sans-serif !important;
    font-size: 40px !important;
    letter-spacing: 2px !important;
}

h2 {
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: 2px !important;
}