/* You can add global styles to this file, and also import other style files */
@use './assets/css/fonts' as fonts;
@use './assets/css/colors' as colors;

html, body { height: 100%; }
body { margin: 0; font-family: fonts.$text; }

.icon {
    cursor: pointer;
}

//estilos de inputs en public 
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
    font-family: fonts.$middle-text;
}


//estilo de boton de public
.btn-submit {
    -webkit-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 9px -5px rgba(0,0,0,0.75);
        font-family: fonts.$middle-text;
        font-weight: bold;
        font-size: 15px;
        height: 60px;
        border: none;
        cursor: pointer;
        transition: all 300ms;
        width: 100%;
}

.btn-submit:active {
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}

