/* You can add global styles to this file, and also import other style files */
@use './assets/css/fonts' as fonts;

html, body { height: 100%; }
body { margin: 0; font-family: fonts.$text; }

.icon {
    cursor: pointer;
}