@use '~@angular/material' as mat;

$primary-palette: (
 50: #fdf7e1,
 100: #f9eab2,
 200: #f5dc81,
 300: #f2cf4f,
 400: #f0c429,
 500: #eeba0e,
 600: #eead04,
 700: #ee9b00,
 800: #ee8a00,
 900: #ed6d00,
 contrast: (
   900: white,
   800: white,
   700: white,
   600: white,
   500: white,
   400: white,
   300: rgba(black, 0.87),
   200: rgba(black, 0.87),
   100: rgba(black, 0.87),
   50: rgba(black, 0.87),
 )
);

$secondary-palette: (
 50: #e3f6ff,
 100: #b8e9fe,
 200: #8adcfc,
 300: #5ecdf7,
 400: #43c3f1,
 500: #3ab9e9,
 600: #32a9d5,
 700: #2695ba,
 800: #1a82a0,
 900: #006073,
 contrast: (
    900: white,
    800: white,
    700: white,
    600: white,
    500: white,
    400: rgba(black, 0.87),
    300: rgba(black, 0.87),
    200: rgba(black, 0.87),
    100: rgba(black, 0.87),
    50: rgba(black, 0.87),
 )
);

@include mat.core();

$my-primary: mat.define-palette($primary-palette, 700);
$my-accent: mat.define-palette($secondary-palette, 900);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));
@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);