<p>{{idChat}}</p>
<div class="container" *ngIf="chat">
    <mat-toolbar id="header-chat">
        <div class="left">
            <div class="avatar" style="background-image: url({{chat.image}});"></div>
        <div id="info">
            <p class="name">{{chat.name}}</p>
            <span class="status">En línea...</span>
        </div>
        </div>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <div id="container-messages">
        <div *ngFor="let message of chat.messages" class="message">
            <div class="content" [ngClass]="idUser == message.owner?'own-message':'contact-message'">
                <p>{{message.content}}
                </p>
                <span class="date">{{message.date | date:'shortTime' }}</span> 
            </div> 
            <div class="clearfix"></div>
        </div>
    </div>
   <div class="clearfix"></div>
    <div id="send-message">
        <input type="text" placeholder="mensaje..."/>
        <button mat-icon-button >
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>