<div class="container-chat" *ngIf="chat">
    <mat-toolbar id="header-chat">
        <div class="left">
            <div class="avatar" style="background-image: url({{chat.image}});"></div>
            <div id="info">
                <p class="name">{{chat.name}}</p>
                <span class="status">En línea...</span>
            </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <!-----
                <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Silenciar Notificaciones</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>notifications_on</mat-icon>
                <span>Activar Notificaciones</span>
            </button>
            -->
            <button mat-menu-item (click)="deleteChat()">
                <mat-icon>delete_sweep</mat-icon>
                <span>Vaciar Chat</span>
            </button>
            <button mat-menu-item (click)="clearChat()">
                <mat-icon>delete</mat-icon>
                <span>Eliminar Chat</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <!------->
    <div id="container-messages" #scrollMe>
        <div *ngFor="let message of chat.messages" class="message">
            <div class="content" [ngClass]="idUser == message.owner?'own-message':'contact-message'">
                <p>{{message.content}}
                </p>
                <span class="date">{{message.date | date:'shortTime' }}</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="send-message">
        <input type="text" placeholder="mensaje..." [formControl]="mesg" />
        <button mat-icon-button (click)="send()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>