@use '../../../../assets/css/colors' as colors;
@use '../../../../assets/css/fonts' as fonts;



.container-login {
    background-color: colors.$bg-color;
    background-image: url('../../../../assets/img/backgrounds/pxgray.png');
    padding: 0;
    margin: 0;   
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-family: fonts.$big-title;
        font-size: 40px;
        letter-spacing: 3px;
    }
}

.container-form {
    width: 80%;
    margin: 0 auto;
    background-color: colors.$bg-light-color;
    padding: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
}

mat-form-field {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    font-family: fonts.$middle-text;
}

.btn-submit {
    margin-top: 15px;
    background-color: #00BDBA;;
    color: black;
}