@use '../../../../assets/css/colors' as colors;
@use '../../../../assets/css/fonts' as fonts;

#container-page {
    height: 100%;
    background-image: url('../../../../assets/img/backgrounds/mooning.png');
}

#content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    
    #content-first ,
    #content-third{
        background-color: #E8BD01;
        background-image: url('../../../../assets/img/backgrounds/square_bg.png');
        display: flex;
        flex-flow: row wrap;
        height: 100vh;

        .img-container {
            flex: 1;
            text-align: right;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }

        }
        
        .info-container {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 33px;
            flex: 2;
            display: flex;
            flex-flow: wrap column;
            justify-content: center;

            h1 {
                font-size: 60px;
                font-family: fonts.$big-title;
                font-weight: bold;
                letter-spacing: 5px;
            }

            h2 {
                text-align: justify;
                font-family: fonts.$middle-text;
            }

        }

    }

    #content-second {
        height: 100vh;
        background-color: colors.$bg-color;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;

        .card {
            transition: all 300ms;
        }

        .theme-1{
            background-color: #F26419;
        }

        .theme-2{
            background-color:  #63CCCA;
        }

        .theme-3{
            background-color: #c0db53;

        }

        .front {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            padding-top: 20px;
        }

        .back {
            display: none;
            p {
                width: 100%;
                text-align: center;
                font-size: 15px;
            }

            h3 {
                font-weight: bold;
            }

        }   
 
        .card:hover {
            .back {
                display: initial;
            }
            .front {
                display: none;
            }
        }

        .theme-1:hover {
             background-size: cover;
             background-image: url('../../../../assets/img/cards/friends.jpg');
             color: white;
             
             .card-container{
                 padding-top: 5px;
                 padding-bottom: 5px;
                background: rgba(0,0,0,0.5);
                box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
             }
         }

         .theme-2:hover{
            background-size: cover;
            background-image: url('../../../../assets/img/cards/family.jpg');
            color: white;
            .card-container {
                padding-top: 5px;
                padding-bottom: 5px;
                background: rgba(0,0,0,0.5);
                box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
            }
        }

        .theme-3:hover{
            background-size: cover;
            background-image: url('../../../../assets/img/cards/play.jpg');
            color: white;

            .card-container{
                padding-top: 5px;
                padding-bottom: 5px;
               background: rgba(0,0,0,0.5);
               box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
            }
        }

    }

    .card {
        background-color: #c4c4c4;
        width: 25%;
        height: 50%;
        border-radius: 10px;
        transition: all 300ms;
        //sombras
        -webkit-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        cursor: pointer;

        mat-icon {
            width: 100%;
            text-align: center;
            font-size: 100px;
            height: auto;
        }

        h3 {
            width: 100%;
            text-align: center;
            font-family: fonts.$middle-text;
            font-weight: bold;
            letter-spacing: 3px;
            font-size: 27px;
            margin: 0;
        }

        p {
            font-family: fonts.$middle-text;
        }

    }

    #content-third{
        background-image: url('../../../../assets/img/carousel/team.jpg');
        background-size: cover;

        .info-container{
            background-color: rgba(0, 0, 0, 0.5);
            color: white;

            h1 {
                letter-spacing: 0px;
            }
        }

        
    }

    #content-fourth {
        background-color: #EFA48B; //#FCC8B2;
        background-image: url('../../../../assets/img/backgrounds/square_bg.png');
        min-height: 67vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;

        .card {
            border-radius: 100%;
            width: 200px;
            height: 200px;
           // margin-top: 10px;
          //  margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: inherit;
            text-align: center;
        }

        h3 {
            padding-top: 20px;
        }

        p {
            width: 100%;
            text-align: center;
        }

        .card-content{
            display: none;
            transition: 300ms;
        }

        .card:hover {
            mat-icon {
                display: none;
            }

            .card-content{
                display: initial;
            }
        }

    }
}

#footer {
    background-color: colors.$bg-color;
    min-height: 33vh;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    p {
        font-family: fonts.$middle-text;
        width: 100%;

        a {
            color: white;
            font-family: fonts.$middle-text;
            width: 100%;
                text-decoration: none;
                font-weight: bold;
            
        }
    
        a:hover {
            text-shadow: 0px 0px 5px white;
        }
    }

    a {
        color: white;
        font-family: fonts.$middle-text;
        width: 100%;
            text-decoration: none;
            font-weight: bold;
        
    }

    a:hover {
        text-shadow: 0px 0px 5px white;
    }

    h3 {
        width: 100%;
        font-family: fonts.$middle-text;
        font-weight: bold;
        font-size: 18px;
    }

    .container-footer {
        padding:10px;
    }


    #sources-info{
        padding-right: 20px;
    p {
        text-align: center;
    }

    }
}

//animations
@keyframes scales {
    from {
        transform: scale(0);
    }
    to {
        transform:scale(1);
    }
  }