<div id="container-page">
    <div id="content">
        <div id="content-first">
            <div class="img-container">
                <img src="../../../../assets/img/img-first.jpg" alt="paisaje" />
            </div>
            <div class="info-container">
                <h1>Fast Messages</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repudiandae hic dignissimos debitis
                    atque
                    ab enim nostrum magnam vel laudantium minus temporibus in sit aliquam ducimus, nisi rem laboriosam
                    sint.
                </h2>
            </div>
        </div>
        <div id="content-second">
            <div class="card theme-1">
                <div class="card-container">
                    <div class="front">
                        <h3>Chats Privados</h3>
                        <mat-icon>account_box</mat-icon>
                    </div>
                    <div class="back">
                        <p>Envía mensajes a tu familia y amigos en cualquier parte del mundo</p>
                        <h3>Chats Privados</h3>
                    </div>
                </div>

            </div>
            <div class="card theme-2">
                <div class="card-container">
                    <div class="front">
                        <h3>Chats Grupales</h3>
                        <mat-icon>recent_actors</mat-icon>
                    </div>
                    <div class="back">
                        <p>Organiza eventos especiales con tus seres queridos</p>
                        <h3>Chats Grupales</h3>
                    </div>
                </div>
            </div>
            <div class="card theme-3">
                <div class="card-container">
                    <div class="front">
                        <h3>Chats en vivo</h3>
                        <mat-icon>record_voice_over</mat-icon>
                    </div>
                    <div class="back">
                        <p>Conversa en tiempo real sobre temas en tendencia</p>
                        <h3>Chats en vivo</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="content-third">
            <div class="info-container">
                <h1>Comunicate con tu equipo siempre</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repudiandae hic dignissimos debitis
                    atque
                    ab enim nostrum magnam vel laudantium minus temporibus in sit aliquam ducimus, nisi rem laboriosam
                    sint.
                </h2>
            </div>
        </div>
        <div id="content-fourth">
            <div class="card">
                <a href="" [routerLink]="['/register']">
                    <h3> Registrarse</h3>
                    <mat-icon>supervisor_account</mat-icon>
                    <p>Unéte a nuestra comunidad de fasters</p>
                </a>
            </div>
            <div class="card">
                <a href="" [routerLink]="['/login']">
                    <h3> Iniciar Sesión</h3>
                    <mat-icon>face</mat-icon>
                    <p>Continua comunicandote</p>
                </a>
            </div>
            <div class="card">
                <a href="" [routerLink]="['/contact']">
                    <h3> Contactanos</h3>
                    <mat-icon>email</mat-icon>
                    <p>Envianos tus opiniones</p>
                </a>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div id="about-info" class="container-footer">
            <h3>Fast Messages</h3>
            <p><button mat-mini-fab>
                    <mat-icon>location_on</mat-icon>
                </button> Guatemala</p>
            <p><button mat-mini-fab [routerLink]="['/contact']">
                    <mat-icon>email_outline</mat-icon>
                </button>
                envíanos tu mensaje</p>

            <!---
            <p>Es una aplicación de mensajería instantánea.</p>
            <p>Minimalista, personalizable y disponible para todos 
                los usuarios en cualquier parte del mundo</p>
                --->
        </div>
        <div id="sources-info" class="container-footer">
            <h3>Desarrollado por </h3>
            <p> <a href="https://www.linkedin.com/in/emely-garc%C3%ADa/" target="_blank">Emely GM</a></p>

            <h3>Fuentes</h3>
            <p><a target="_blank" href="https://www.freepik.es">Imagenes</a></p>
            <p><a target="_blank" href="http://fonts.google.com">Fuentes</a></p>
        </div>
    </footer>
</div>

<!-----
            //imagen inicio
<a href='https://www.freepik.es/fotos/agua'>Foto de Agua creado por wirestock - www.freepik.es</a>            //imagen de amigos 
             
<a href="https://www.freepik.es/fotos/mujer">Foto de Mujer creado por freepik - www.freepik.es</a>
            //imagen de familia
<a href='https://www.freepik.es/fotos/personas'>Foto de Personas creado por senivpetro - www.freepik.es</a>
            //imagen de play
            <a href='https://www.freepik.es/fotos/personas'>Foto de Personas creado por freepik - www.freepik.es</a>
            
            //imagen team carousel
            <a href='https://www.freepik.es/fotos/negocios'>Foto de Negocios creado por rawpixel.com - www.freepik.es</a>
            //familia  carrousel
            <a href='https://www.freepik.es/fotos/bebe'>Foto de Bebé creado por freepic.diller - www.freepik.es</a>
            //team carousell
            <a href='https://www.freepik.es/fotos/negocios'>Foto de Negocios creado por peoplecreations - www.freepik.es</a>
            //girl carousel
            <a href='https://www.freepik.es/fotos/mujer'>Foto de Mujer creado por cookie_studio - www.freepik.es</a
    

                //fondo login
                <a href='https://www.freepik.es/fotos/tecnologia'>Foto de Tecnología creado por freepik - www.freepik.es</a>
                
        -->