<div id="header">
    <ul id="menu">
        <li><a href="">Iniciar Sesión</a></li>
        <li><a href="">Registrarse</a></li>
    </ul>
</div>
<div id="container-page">
    <div id="content">
        <div id="content-first">
            <div class="img-container">
                <img src="../../../../assets/img/image-page-logo.jpg" alt="logo" />
            </div>
            <div class="info-container">
                <h1>Fast Messages</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repudiandae hic dignissimos debitis
                    atque
                    ab enim nostrum magnam vel laudantium minus temporibus in sit aliquam ducimus, nisi rem laboriosam
                    sint.
                </h2>
            </div>
        </div>
        <div id="content-second">
            <div class="card theme-1">
                <h3>Chats Privados</h3>
                <mat-icon>account_box</mat-icon>
            </div>
            <div class="card theme-2">
                <h3>Chats Grupales</h3>
                <mat-icon>recent_actors</mat-icon>
            </div>
            <div class="card theme-3">
                <h3>Chats en vivo</h3>
                <mat-icon>record_voice_over</mat-icon>
            </div>  
        </div>
        <div id="content-third">
              
        </div>
    </div>
    <footer id="footer">
        <div id="dev-info">
            <h4>Desarrollado por </h4>
            <a href="">Emely García &copy;</a>
        </div>
        <!-----
            <a href='https://www.freepik.es/fotos/fondo'>Foto de Fondo creado por mrsiraphol - www.freepik.es</a>
    
        
        -->
    </footer>
</div>
