@use '../../../../assets/css/colors' as colors;
@use '../../../../assets/css/fonts' as fonts;

#container-page {
    height: 100%;
    background-image: url('../../../../assets/img/mooning.png');
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#menu {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    height: 85px;
    font-family: fonts.$middle-text;
    transition: all 300ms;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: right;

    ul {
        width: 100%;
    }

    li {
        height: 100%;
        line-height: 85px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        transition: all 300ms;
    }

    li:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    a {
        display: block;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
}

#menu:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    
    #content-first {
        background-image: url('../../../../assets/img/mooning.png');
        display: flex;
        flex-flow: row wrap;
        height: 100vh;

        .img-container {
            flex: 1;
            text-align: right;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }

        }
        
        .info-container {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 33px;
            flex: 2;
            display: flex;
            flex-flow: wrap column;
            justify-content: center;

            h1 {
                font-size: 60px;
                font-family: fonts.$big-title;
                font-weight: bold;
                letter-spacing: 5px;
            }

            h2 {
                text-align: justify;
                font-family: fonts.$middle-text;
            }

        }

    }

    #content-second {
        height: 100vh;
        background-color: colors.$bg-color;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;

        .theme-1{
            background-color: #ff5733;
        }

        .theme-2{
            background-color:  #1f618d ;
        }

        .theme-3{
            background-color: #17a589;
        }

        .card:hover {
            color:white;
        }  
    }

    .card {
        background-color: #c4c4c4;
        width: 25%;
        height: 50%;
        border-radius: 10px;
        transition: all 300ms;
        //sombras
        -webkit-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);
        box-shadow: 10px 11px 9px -5px rgba(0,0,0,0.75);

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        cursor: pointer;

        mat-icon {
            width: 100%;
            text-align: center;
            font-size: 100px;
            height: auto;
        }

        h3 {
            width: 100%;
            text-align: center;
            font-family: fonts.$middle-text;
            font-weight: bold;
            letter-spacing: 3px;
            font-size: 27px;
            margin: 0;
        }

        p {
            font-family: fonts.$middle-text;
        }

    }
 

    #content-third {
        background-color: salmon;
        min-height: 75vh;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;

        .card {
            width: 45%;
        }

    }
}

.theme-1{
    background-color: colors.$primary-color;
}

#footer {
    background-color: colors.$bg-color;
    min-height: 25vh;
    a {
        color: white;
    }

}